<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <img class="header-logo" src="" alt="logo">
        <div class="links-header">
            <p>simulando link</p>
            <p>simulando link</p>
            <p>simulando link</p>
        </div>
        
    </header>
    <main class="main">
        <section class="datos-para-pagar">
            <div class="datos-de-facturacion">
                <p>datos de facturacion</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
            <br>
            <div class="datos-de-domicilio">
                <p>datos de domicilio</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
            <br>
            <div class="datos-de-pago">
                <p>datos de pago</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
        </section>
        <section class="detalles-del-producto">
            <div class="descripcion-del-producto">
                <p>Detalles del producto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestias temporibus mollitia ipsam minus eligendi nulla, hic nostrum quidem corporis maxime autem debitis quos eos dolore ipsa, aperiam, nisi assumenda.</p>
            </div>
             <div class="imagen-finalizar-compra">
                <img class="imagen-logo-header" src="/images/logo-mercado-liebre.svg" alt="imagen del producto">
            </div>
        </section>
        <section class="detalles-del-cobro">
            <p class="titulo-detalles-del-cobro">Detalles del cobro</p>
            <p class="informacion-detalles-del-cobro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum, quibusdam dolores fuga id rerum quia accusamus, facilis illum officia nulla error veritatis corporis, in fugit optio magnam minima eaque!</p>
        </section>
        <section><p>Finalizar compra/reserva</p>
            <button>Vaciar carrito</button>
            <button>Seguir navegando</button>
        </section>
        
    </main>
    <br>
   
    <footer>
        <section class="sectionFooter">
            <div class="divsFooter">
                <strong>Daytona Cars</strong>
                <br>
                <a href="/nuestraEmpresa"> Empresa</a><br>
                <a href="/sucursales">Sucursales</a>
                
            </div>
            <div class="divsFooter"><strong>Contactenos</strong>
                <br> 
                <a href="/asesoramiento">Asesoramiento</a><br>
                <a href="/solicitudTestDrive">Solicitud de Test Drive</a>
            </div>
            <div class="divsFooter"> <strong>Redes Sociales</strong>  
            <br>
              <a href="https://www.facebook.com">Facebook</a><br>
              <a href="https://www.instagram.com">Instagram</a><br>
              <a href="https://www.twitter.com">Twitter</a>
             </div>
            </section>
    </footer>
</body>
</html>