<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <img class="header-logo" src="" alt="logo">
        <div class="links-header">
            <p>simulando link</p>
            <p>simulando link</p>
            <p>simulando link</p>
        </div>
        
    </header>
    <main class="main">
        <section class="datos-para-pagar">
            <div class="datos-de-facturacion">
                <p>datos de facturacion</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
            <br>
            <div class="datos-de-domicilio">
                <p>datos de domicilio</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
            <br>
            <div class="datos-de-pago">
                <p>datos de pago</p>
                <button class="boton-modificar">Modificar</button> 
            </div>
        </section>
        <section class="detalles-del-producto">
            <div class="descripcion-del-producto">
                <p>Detalles del producto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestias temporibus mollitia ipsam minus eligendi nulla, hic nostrum quidem corporis maxime autem debitis quos eos dolore ipsa, aperiam, nisi assumenda.</p>
            </div>
             <div class="imagen-finalizar-compra">
                <img class="imagen-logo-header" src="/images/logo-mercado-liebre.svg" alt="imagen del producto">
            </div>
        </section>
        <section class="detalles-del-cobro">
            <p class="titulo-detalles-del-cobro">Detalles del cobro</p>
            <p class="informacion-detalles-del-cobro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum, quibusdam dolores fuga id rerum quia accusamus, facilis illum officia nulla error veritatis corporis, in fugit optio magnam minima eaque!</p>
        </section>
        <section><p>Finalizar compra/reserva</p>
            <button>Vaciar carrito</button>
            <button>Seguir navegando</button>
        </section>
        
    </main>
    <br>
    <footer class="footer">
        <br>
        <p>SOLO POR AHORA USAR FOOTER DE MERCADO LIEBRE</p>
        <section>
            <div class="tarjeta-credito"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <br>
        <section>
            <div class="envio-gratis"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section>
            <div class="seguridad"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
            <p>Copyright © 1999-2020 Mercado-liebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>