<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav-bar">
            <ul class="nav-bar__items">
            <li class="nav-bar__item"> 
                <p>liks rapidos</p>
            </li>
            <li class="nav-bar__item" >
                <p id="búsqueda">
                    <input type="search" name="búsqueda" placeholder="Buscar marcas...">
                    <input type="Submit" value="Buscar">
                </p>
            </li>
            <li class="nav-bar__item">
                <div>
                    <form action="/" method="get"></form>
                    <label for="pais" name="Pais"></label>
                    <p>Pais</p>
                    <select name="pais" id="pais">
                        <option value="Colombia">Colombia</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Colombia">Colombia</option>
                    </select>
                </div>
            </li>
            <li class="nav-bar__item">
                <a href="/registro">Cuenta</a><i class="fa-solid fa-user"></i>
            </li>
            <li class="nav-bar__item">
                <a href="/carrito">Carrito</a><i class="fa-solid fa-cart-shopping"></i>
            </li> 
        </ul>                 
        </nav>
    
    </header>

    <main>
        <div class="carrusel">

            <div class="atras botones">
                &#60
            </div>

            <div class="botones adelante">
                &#62
            </div>

            <img src="" alt="imagen">

            <script src=""></script>
                
        </div>

            <p>Navegación entre secciones</p>
                
        <section class="secciones">
            
            <section class="nuevos">
                <a href="/detalles-del-producto">Nuevos</a>
            </section>
                
            <section class="usados">
                <p>Usados</p>
            </section>
                
            <section class="servicios">
                <p>Servicios</p>
            </section>

            <section class="test-drive">
               <p>Test Drive</p> 
            </section>
            
        </section>

    </main>
    

    <footer>
        <section class="sectionFooter">
        <div>
            Nombre Nuestro
            <br>
            <a href="/nuestraEmpresa">Nuestra Empresa</a><br>
            <a href="/sucursales">Sucursales</a>
        </div>
        <div>Contactenos
            <br> 
            <a href="/asesoramiento">Asesoramiento</a><br>
            <a href="/solicitudTestDrive">Solicitud de Test Drive</a>
        </div>
        <div> Redes Sociales  
        <br>
          <a href="/facebook">Facebook</a><br>
          <a href="/instagram">Instagram</a><br>
          <a href="/twitter">Twitter</a>
         </div>
        </section>
            
    </footer>
</body>
</html>