<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <img
        class="imagen-logo-header"
        src="/images/logo-mercado-liebre.svg"
        alt="logo"
      />
    </header>

    <main>
        <div class="mensaje-bienvenida">
            <p>Mensaje de Bienvenida</p>
        </div>

        <section class="formulario-registro">
            <form action="/login" method="get"></form>
            <input type= "text" name="Nombre" placeholder="Nombre y apellido" id="formulario-nombre"></input>
            <br>
            <input type= "text" name="Nombre de usuario" placeholder="Nombre de usuario" id="formulario-nombre-de-usuario"></input>
            <br>
            <label for="fecha de nacimiento">Fecha de nacimiento</label>
                <input type= "date" name="Fecha de nacimiento"  id=""></input>
            <select name="pais" id="sexo">
                <option value="Colombia">Femenino</option>
                <option value="Argentina">Masculino</option> 
            </select>
            <br>
            <input type= "text" name="numero de documeto" placeholder="Numero de documento" id="formulario-numero-de-documento"></input>
            <input type="tel" name="Telefono" placeholder="Numero de telefono" id="formulario-numero-de-telefono"></input>
            <br>
            <label>Seleccionar una imagen para el perfil</label>
            <input type="file" name="avatar" accept="jpg" multiple>
            <br>
            <input type= "text" name="email" placeholder="ingrese su correo electronico" id="formulario-correo-electronico"></input>
            <br>
            <input type= "password" name="contraseña" placeholder="Contraseña" id=""></input>
            <br>
            <input type= "password" name="confirmacion_contraseña" placeholder="Confirmar contraseña" id=""></input>
            <br>
            <label for="aceptacion terminos y condiciones">Acepta terminos y condiciones</label>
                <input type= "checkbox" name="aceptacion terminos y condiciones" value="accept" id=""></input>

            <div>
                <button type="reset">Reset</button>
                <button type="submit">Crear cuenta</button>
            </div>
            
        
        
        </section>
    </main>
    <br>
    <footer>
      <section class="sectionFooter">
        <div class="divsFooter">
            <strong>Daytona Cars</strong>
            <br>
            <a href="/nuestraEmpresa"> Empresa</a><br>
            <a href="/sucursales">Sucursales</a>
            
        </div>
        <div class="divsFooter"><strong>Contactenos</strong>
            <br> 
            <a href="/asesoramiento">Asesoramiento</a><br>
            <a href="/solicitudTestDrive">Solicitud de Test Drive</a>
        </div>
        <div class="divsFooter"> <strong>Redes Sociales</strong>  
        <br>
          <a href="https://www.facebook.com">Facebook</a><br>
          <a href="https://www.instagram.com">Instagram</a><br>
          <a href="https://www.twitter.com">Twitter</a>
         </div>
        </section>
        
    </footer>
  </body>
</html>
