footer {
  width: 120%;
    padding: 13%;
    background-color: black;
    text-align: center;
    
  }
  
  
  
  .divsFooter {
    color: #fff;
    background-color: #000;
    margin-bottom: 15px;

  }
  
  .direcciones {
    color: #ebebeb;
  }
  
  .piedefooter {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 120%;
  }
  
  /*section {
    width: 86%;
    margin-bottom: 25px;
  }*/

  @media (min-width: 768px)  {
      footer{
        width: 120%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
      }
      .divsFooter{
          margin-right: 50px;
      }
  }

  
