.formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 0;
  }
  
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .checkbox-container {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  
  .input {
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
    border-width: 1px;
  }
  
  .button {
    padding: 4px 8px;
    border-radius: 4px;
    border-width: 1px;
    background-color: black;
    color: white;
  }

  .main-registro{
      padding: 4%;
      margin-left: 20%;
  }

  .mensaje-error {
    color: red
  }