@import url("normalize.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li a{
    color: white;
    display: flex;
    flex-direction: row;
}

.banner2{
    width: 1230px;
    height: 350px;
    border: 3px solid black;
    margin: auto;
   
    background-size: 100% 100%;

    animation: banner2 10s infinite alternate;

}

@keyframes banner2{
    0%, 30%{
        background-image: url(/images/bmw1.jpg);
        
    }
    35%,65%{
        background-image: url(/images/porche1.webp);
        
    }
    70%,100%{
        background-image: url(/images/ferrari6.jpg);
    }
}

body {
font-family: "Roboto", sans-serif;
margin: 0;
background-color:rgb(243, 237, 237);
}

img{
width: 100%;
}

.letras{
    display: flex;
    justify-content: space-between;
}


.productos{
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    /* flex-wrap: wrap;
    width: 30%;
    display: flex;  
    flex-direction: row; */
}

.articulo{
    margin-bottom: 10px;
    background-color: #000;

}

.precios{
    color: #ebebeb;
    font-size: 18px;
}

.descripcion{
    color: #ebebeb;
}

.autos{
    display: flex;
    flex-direction: row;
}

@media(min-width: 361px){
    
}

main {
    margin: auto;
    width: 90%;
}

article{
    width: 400px;
    border: 1px #ebebeb solid;
    background-color: white;

 
}

header {
    background-color:black;
    padding: 10px;
    width: 100%;
}


.fa-truck:before{
    display: block;
    font-size: 8px;
    padding: 15px;
    border: 1px solid red;
    width: 20%;
    height: 20%;
    border-radius: 50%

}
p{
    font-size: 12px;
    color:red;
}

.camion{
    text-align: right;
}

h2{
    font-size: 24px;
    color:black;
}

h3{
    font-size: 16px;
}

input{
    color: var(--grisOscuro);
}

ul{
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: row;
  
}

ul li{
    list-style: none;
    margin-left: 10px;
}


a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

#cuotas{
    text-align: center;
    margin-top: 10px;
}

i {
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    max-width:  200px;
    width: 50%;
}

.inputBusqueda {
 display: inline;
 background-color: #fff;
 border: 1px solid #666;
}



.desc-descripcion{
    font-size: 16px;
    color: #39b54a;
}


div{
    text-align: center;
}


@media(max-width:250px){
    flex.container{
        flex-direction: column;
    }

}


/*footer*/
footer{
    padding: 13%;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}


.linea{
    border-color: #fff; 
    
}

.divsFooter{
    color:#fff;
    background-color: #000;
}

.direcciones{
    color: #ebebeb;
}

.piedefooter{
    background-color: #000 ;
}

.holafooter{
    display: flex;
    background-color: #000; 
    color: #ebebeb; 
    font-size: 12px;
}