@import url("normalize.css");
@import url(menu.css);
@import url(main.css);
@import url(banner.css);
@import url(blog.css);
@import url(footer.css);
@import url(detalle-producto.css);
@import url(carrito.css);
@import url(pagos.css);
@import url(productos.css);
@import url(register.css);
@import url(crear.css);
@import url(historial.css);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li a {
  color: white;
  display: flex;
  flex-direction: row;
}



body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 237, 237);
}


.productos {
  padding: 15%;
  margin-top: -10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.articulo{
  box-shadow: 0px 0px 10px rgb(100 100 100);
}

.gondola1 h1{
  color: black;
  margin-left: 15%;
}

.gondola2 h1{
  color: black;
  margin-left: 15%;
}

.gondola3 h1{
  color: black;
  margin-left: 15%;
}

.articulo {
  margin-bottom: 10px;
  background-color: #000;
}

.precios {
  color: #ebebeb;
  font-size: 18px;
}

.descripcion {
  color: #ebebeb;
}

.autos {
  display: flex;
  flex-direction: row;
}


article {
  width: 300px;
  border: 1px #ebebeb solid;
  background-color: white;
}

header {
  width: 100%;
  height: 50px;
  background-color: #000;

  position:fixed;
  top:0;
  left:0;
  z-index: 100 ;
}

.contenedor{
  width: 85%;
  
  display: table;
}

.fa-truck:before {
  display: block;
  font-size: 8px;
  padding: 15px;
  border: 1px solid red;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
p {
  font-size: 12px;
  color: red;
}

.camion {
  text-align: right;
}

.camion i {

    height: 40px;
    width: 40px;
  
}

h2 {
  font-size: 24px;
  color: black;
}

h3 {
  font-size: 16px;
}

input {
  color: var(--grisOscuro);
}

ul {
  padding: 0;
  margin: 20px;
  
}

ul li {
  list-style: none;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

#cuotas {
  text-align: center;
  margin-top: 10px;
}

i {
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  float:left;
  width: 40px;
  margin-left: 10%;
  
}


.desc-descripcion {
  font-size: 16px;
  color: #39b54a;
}

img {
  width: 100%;
}

/* @media (min-width:1024px)*/ 