<%-include("partials/head.ejs")%>

    <body>
        <%-include("partials/header.ejs")%>
            <div class="banner2">
            </div>

            <body>
                <main class="main-ivan">
                    <section class="autos-en-carrito-de-compra">
                        <h1>Autos en el carrito de compra</h1>
                    </section>
                    <section>
                        <div class="contenedor-datos-para-pago">
                            <article class="datos-auto-para-pagar">

                                <div class="elementos-texto-de-producto">
                                    <h4 class="texto-producto-compra">Nombre del auto</h4>
                                    <h4 class="texto-producto-compra">Descripcion del auto</h4>
                                    <h4 class="texto-producto-compra">Precio del auto</h4>
                                </div>

                                <div class="imagen-auto-carrito-de-compra">
                                    <img class="imagen-logo-header" src="/images/bmwx6dos.jpg"
                                        alt="imagen del producto">
                                </div>
                            </article>
                            <div class="boton-pagar">
                                <button class="button">Pagar</button>
                            </div>
                            <div class="boton-vaciar">
                                <button class="button">Vaciar carrito</button>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="contenedor-datos-para-pago">
                            <article class="datos-auto-para-pagar">

                                <div class="elementos-texto-de-producto">
                                    <h4 class="texto-producto-compra">Nombre del auto</h4>
                                    <h4 class="texto-producto-compra">Descripcion del auto</h4>
                                    <h4 class="texto-producto-compra">Precio del auto</h4>
                                </div>

                                <div class="imagen-auto-carrito-de-compra">
                                    <img class="imagen-logo-header" src="/images/bmwx6dos.jpg"
                                        alt="imagen del producto">
                                </div>
                            </article>
                            <div class="boton-pagar">
                                <button class="button">Pagar</button>
                            </div>
                            <div class="boton-vaciar">
                                <button class="button">Vaciar carrito</button>
                            </div>
                        </div>
                    </section>


            </body>

            </html>
            <%-include("partials/footer.ejs")%>
    </body>

    </html>