<%-include("partials/header.ejs")%>
<%-include("partials/head.ejs")%>

<body>
    <div>Agreagar aca formulario para crear carros</div>´
    en el boton vas a hacer un POST reuquest a localhost:5500/api/productos
<%-include("partials/footer.ejs")%>

</body>


