<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>

        <img src="/images/logo.jpeg" class="logo">


        <nav class="letras">
            <ul>
                <li><a href="/servicios">Servicio de Cliente</a></li>
                <li><a href="/productos">Autos</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>

            <ul>
                <div class="inputBusqueda"><input type="text" value="Buscar productos,marcas"></div>
                <div class="inputBusqueda lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
                <li class="right"><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a></li>
                <li class="right"><a href="/login">Ingresa <i class="fa-solid fa-user-check"></i></a></li>
                <li class="right"><a href="/detalle-producto">Carrito <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            </div>
        </nav>
    </header>
    <div class="banner2">

    </div>


    <main>

holaaaaaa
    </main>
   
    <footer>
        <div class="divsFooter">
            <strong>Daytona</strong>
            <br>
            <br>
            <a href="/nuestraEmpresa" class="direcciones"> Empresa</a>
            <br>
            <a href="/sucursales" class="direcciones">Sucursales</a>
        </div>
        <div class="divsFooter"><strong>Servio al Cliente</strong>
            <br>
            <br>
            <a href="/asesoramiento" class="direcciones">Asesoramiento</a>
            <br>
            <a href="/solicitudTestDrive" class="direcciones">Solicitud de Test Drive </a>
            <br>
        </div>
        <div class="divsFooter"> <strong>Redes Sociales </strong>
            <br>
            <br>
            <a href="https://www.facebook.com" class="direcciones">Facebook</a>
            <br>
            <a href="https://www.instagram.com" class="direcciones">instagram</a>
            <br>
            <a href="https://www.twitter.com" class="direcciones">twitter</a>
            <br>
        </div>
        <div class="divsFooter"> <strong>Modelos</strong>
            <br>
            <a href="/login" class="direcciones">Electricos</a>
            <br>
            <a href="/login" class="direcciones">Hibridos</a>
            <br>
            <a href="/login" class="direcciones">Gasoleros</a>
            <br>
            <a href="/login" class="direcciones">Nafteros</a>
        </div>
        <div></div>
        </section>
    </footer>
    <div class="piedefooter">
        <p class="holafooter">Copyright © 2000-2022 Daytona S.R.L.</p>
    </div>
</body>

</html>