<%-include("partials/head.ejs")%>

<body>
    <%-include("partials/header.ejs") %>
    <main>
        <div class="nombre-auto">
            <h3>2022 0km</h3>
            <h1>BMW S5</h1>
            <h3>Publicado hace x dias</h3>
            
        </div>
        
        
        <div class="main-detalle-producto">

         <img src="/images/bmws5.jpg" alt="">
        </div>
            
        <div class="precio-detalle-producto">
            <h1>$330.000</h1>
            <h3>Ver precios de referencia</h3>
            
        </div>
                 
        
        
        <div class="comprar-carrito">
                  
            <button class="iralcarrito"><a href="/carrito">
               <h1> Agregar al Carrito</h1>
            </a>
            </button>
            <a href="/pago">
            <button class="comprarahora">
            
                <h1>Comprar Ahora</h1>
            
            </button>
            </a>
      </div>
                <div class="ficha-tecnica-detalle-producto">
                    <H1>Ficha Tecnica</H1>
                    <p>La gama BMW Serie 5 está disponible con dos carrocerías, una de tipo sedán de tres cuerpos, y un familiar, conocido como BMW Serie 5 Touring. En ambos casos el diseño exterior se caracteriza por una imagen elegante y sobria, aunque con sutiles detalles que le confieren una imagen más deportiva que la de sus rivales. Además, si queremos acentuar esa imagen más agresiva y prestacional, se ofrece tanto un paquete M que afecta a la carrocería exterior en los motores convencionales, como variantes verdaderamente prestacionales M550i y M5, cada cual más deportiva.</p>
                </div>
                <div class="opiniones-detalle-producto">
                    <h1>Opiniones de clientes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quas consequuntur expedita, dicta nam perferendis dolorum doloremque, ab aliquam iure laudantium repellat, in adipisci vel. Voluptates nesciunt debitis fugiat eos.</p>
                </div>
    </main>
   
    <%-include("partials/footer.ejs") %>
</body>

</html>