<%-include("partials/head.ejs")%>
<body>
    <header> 
        <nav class="header-detalle-producto">
        
            
            <img src="/images/logo.jpeg" class="logo2">
                <a href="/carrito">Carrito
                   <i class="fa-solid fa-basket-shopping">
                   </i>
                </a>
        </nav>         
            
            </header>


    <main>
        <div class="nombre-auto">
            <h3>2022 0km</h3>
            <h1>Porsche Panamera</h1>
            <h3>Publicado hace x dias</h3>
            
        </div>
        
        
        <div class="main-detalle-producto">

         <img src="/images/porsche-panamera.jpg" alt="">
        </div>
            
        <div class="precio-detalle-producto">
            <h1>$530.570</h1>
            <h3>Ver precios de referencia</h3>
            
        </div>
                 
        
        
        <div class="comprar-carrito">
                  
            <button class="iralcarrito"><a href="/carrito">
               <h1> Agregar al Carrito</h1>
            </a>
            </button>
            <a href="/pago">
            <button class="comprarahora">
            
                <h1>Comprar Ahora</h1>
            
            </button>
            </a>
      </div>
                <div class="ficha-tecnica-detalle-producto">
                    <H1>Ficha Tecnica</H1>
                    <p>El Porsche Panamera es una berlina deportiva de cuatro puertas y corte premium, fabricada por Porsche desde 2010. Actualmente, se comercializa la segunda generación, presentada en 2016 y actualizada en 2020 con un ligero restyling. Las principales características del Porsche Panamera son su diseño deportivo, inspirado en el Porsche 911, y una gama de propulsores gasolina e híbrido-enchufable que ofrecen grandes cifras en potencia y prestaciones. El Panamera se ha convertido en uno de los referentes en su clase, por el empleo de tecnologías y soluciones técnicas muy avanzadas. El precio del Porsche Panamera parte desde algo más de 100.000 euros.

                        El Porsche Panamera se enfrenta a grandes berlinas de representación con connotaciones y enfoque deportivo como los Audi A7 y RS7 Sportback, Aston Martin Rapide, BMW Serie 8 Gran Coupé y M8 Gran Coupé, Maserati Quattroporte, Mercedes CLS o Mercedes-AMG GT 4 Puertas Coupé.</p>
                </div>
                <div class="opiniones-detalle-producto">
                    <h1>Opiniones de clientes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quas consequuntur expedita, dicta nam perferendis dolorum doloremque, ab aliquam iure laudantium repellat, in adipisci vel. Voluptates nesciunt debitis fugiat eos.</p>
                </div>
    </main>
    <%-include("partials/footer.ejs") %>
</body>

</html>