<%-include("partials/head.ejs")%>
<body>
    <%-include("partials/header.ejs") %>
    <main>
        <div class="nombre-auto">
            <h3>2022 0km</h3>
            <h1>AUDI E-TRON</h1>
            <h3>Publicado hace x dias</h3>
            
        </div>
        
        
        <div class="main-detalle-producto">

         <img src="/images/AUDITRON.jpg" alt="">
        </div>
            
        <div class="precio-detalle-producto">
            <h1>$330.OOO</h1>
            <h3>Ver precios de referencia</h3>
            
        </div>
                 
        
        
        <div class="comprar-carrito">
                  
            <button class="iralcarrito"><a href="/carrito">
               <h1> Agregar al Carrito</h1>
            </a>
            </button>
            <a href="/pago">
            <button class="comprarahora">
            
                <h1>Comprar Ahora</h1>
            
            </button>
            </a>
      </div>
                <div class="ficha-tecnica-detalle-producto">
                    <H1>Ficha Tecnica</H1>
                    <p>El Audi e-tron es el primer vehículo 100% eléctrico del fabricante de Ingolstadt. Se trata de un turismo con carrocería SUV que fue presentado como coche de producción a finales de 2018. Mide 4,9 metros de largo y casi dos metros de ancho, por lo que se sitúa en la gama entre los Q5 y Q7.

 

                        El tren motriz del e-tron se constituye de dos motores eléctricos (uno que mueve las ruedas delanteras y otro que hace lo mismo con las traseras) que, en condiciones normales, declaran una potencia conjunta de 360 CV disponible durante un tiempo máximo de 60 segundos. En el modo de conducción deportiva, esta cifra puede aumentar hasta los 408 CV siempre que no se excedan los ocho segundos.
                        
                         
                        
                        Su batería cuenta con 95 kWh de capacidad y, según el nuevo ciclo de homologación WLTP, proporciona 400 km de autonomía entre carga y carga. Está situada bajo el suelo del habitáculo y tiene un peso aproximado de 700 kg, algo que propicia un elevado peso del conjunto, que pasa de las 2,5 toneladas. Se puede recargar con hasta 150 kW de potencia máxima en carga súper rápida.
                        
                         
                        
                        Una de sus características más novedosas es el sistema que utiliza en sustitución de los espejos retrovisores tradicionales: unas cámaras ubicadas en el exterior captan el entorno, que se refleja por medio de dos pantallas situadas en los paneles de las puertas delanteras.
                        
                         
                        
                        El coeficiente de resistencia aerodinámica del Audi e-tron es de 0,28 Cx, tiene capacidad para cinco ocupantes en disposición 2+3 y su maletero principal cubica 600 litros, aunque abatiendo la segunda fila de asientos se puede obtener un volumen de hasta 1.725 litros.
                        
                        Sus principales rivales son el Tesla Model X y el Jaguar I-Pace, pero en un futuro próximo se añadirán a esta lucha los Mercedes EQC y Porsche Mission E Cross Turismo.    </p>
                </div>
                <div class="opiniones-detalle-producto">
                    <h1>Opiniones de clientes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quas consequuntur expedita, dicta nam perferendis dolorum doloremque, ab aliquam iure laudantium repellat, in adipisci vel. Voluptates nesciunt debitis fugiat eos.</p>
                </div>
    </main>
    <%-include("partials/footer.ejs") %>
</body>

</html>