<%-include("partials/head.ejs")%>

<body>
    <%-include("partials/header.ejs") %>

    <div class="banner2">

    </div>


    <main class="main">
        <section class="registro-con-correo">
            <br>
            <form class="registro-con-correo-a" action="/login" method="post">
                <input type="email" name="email" placeholder="ingrese su correo electronico" id="ingreso-correo">
                <br>
                <input type="text" name="contraseña" placeholder="ingrese su contraseña" id="ingreso-contraseña">
            </form>
            
        
        <div class="boton-enviar">
            <button type="submit">Ingresar</button>
        </div>
    </main>

    <%-include("partials/footer.ejs") %>
</body>

</html>