<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <img class="header-logo" src="" alt="logo">
        <div>
            <h5 class="header-title">Bienvenida</h5>
        </div>
    </header>
    <main class="main">
        <section class="registro-con-correo">
            <br>
            <form class="registro-con-correo-a" action="/login" method="post">
                <input type="email" name="email" value="ingrese su correo electronico" id="ingreso-correo">
                <br>
                <input type="text" name="contraseña" value="ingrese su contraseña" id="ingreso-contraseña">
            </form>
            <div class="recuperar-contraseña">
                <A HREF="otra_pagina.html"> ¿olvidó su contraseña? </A>
                <A HREF="otra_pagina.html"> Ayuda </A>
            </div>
        </section>
        <section class="registro-con-cuentas">
            <form action="/registro" method="post">
                <input type="email" name="email" value="SignIn Google" id="ingreso-correo">
                <i class="fa-brands fa-google"></i>
                <br>
                <input type="text" name="contraseña" value="SignIn Facebook" id="ingreso-contraseña">
                <i class="fa-brands fa-facebook"></i>
                <br>
                <input type="text" name="contraseña" value="SignIn Twitter" id="ingreso-contraseña">
                <i class="fa-brands fa-twitter"></i>
        </section>
        <div class="boton-enviar">
            <button type="submit">Create Account</button>
        </div>
    </main>
</body>
<footer>
    <p>SOLO POR AHORA USAR FOOTER DE MERCADO LIEBRE</p>
    <section class="footer-items">
        <section>
            <div class="tarjeta-credito"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </section>
        <section>
            <div class="envio-gratis"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <br>
        <section>
            <div class="seguridad"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </section>
        <br>
    </section>
    <div>
        <p>Copyright © 1999-2020 Mercado-liebre S.R.L.</p>
    </div>

</footer>

</html>