<%-include("partials/head.ejs")%>

<body>
    <%-include("partials/header.ejs") %>

    <div class="banner2">

    </div>


    <main class="main">
        <section class="registro-con-correo">
            <br>
            <form class="registro-con-correo-a" action="/login" method="post">
                <input type="email" name="email" value="ingrese su correo electronico" id="ingreso-correo">
                <br>
                <input type="text" name="contraseña" value="ingrese su contraseña" id="ingreso-contraseña">
            </form>
            <div class="recuperar-contraseña">
                <A HREF="otra_pagina.html"> ¿olvidó su contraseña? </A>
                <A HREF="otra_pagina.html"> Ayuda </A>
            </div>
        </section>
        <section class="registro-con-cuentas">
            <form action="/registro" method="post">
                <input type="email" name="email" value="SignIn Google" id="ingreso-correo">
                <i class="fa-brands fa-google"></i>
                <br>
                <input type="text" name="contraseña" value="SignIn Facebook" id="ingreso-contraseña">
                <i class="fa-brands fa-facebook"></i>
                <br>
                <input type="text" name="contraseña" value="SignIn Twitter" id="ingreso-contraseña">
                <i class="fa-brands fa-twitter"></i>
        </section>
        <div class="boton-enviar">
            <button type="submit">Create Account</button>
        </div>
    </main>

    <%-include("partials/footer.ejs") %>
</body>

</html>