<html>

<head>
    <title>Mi perfil</title>
</head>
<%-include("partials/head.ejs")%>

    <body class="allBody">
        <div>
            <img src="AUDI-R8.jpg" />
            <h1>Messi</h1>
        </div>

        <ul>
            <li>
                <a href="benjamingianneschi5@gmail.com"></a>
            </li>
            <li>
                <a href="https://facebook.com">facebook</a>
            </li>
            <li>
                <a href="https://twitter.com">twitter</a>
            </li>
            <li>
                <a href="https://instagram.com">instagram</a>
            </li>
        </ul>
        <div>
            <h3> Acerda de</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore commodi aperiam placeat non impedit
                minima ad voluptatum unde labore? Vitae perferendis quis aut? Amet id minima voluptates praesentium rem
                saepe!</p>
        </div>


        <main>

        </main>
        <%-include("partials/footer.ejs") %>
    </body>

</html>