<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header>

    <img src="/images/logo.jpeg" class="logo">


    <nav class="letras">
      <ul>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Comprar</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul>
        <div class="inputBusqueda"><input type="text" value="Buscar productos,marcas"></div>
        <div class="inputBusqueda lupa"><i class="fa-solid fa-magnifying-glass"></i></div>
        <li class="right"><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a></li>
        <li class="right"><a href="/login">Ingresa <i class="fa-solid fa-user-check"></i></a></li>
        <li class="right"><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
      </ul>
      </div>
    </nav>
  </header>

  <div class="banner2">

  </div>


  <main>
    <div class="mensaje-bienvenida">
      <p>Mensaje de Bienvenida</p>
    </div>

    <section class="formulario-registro">
      <form action="/login" method="get"></form>
      <input type="text" name="Nombre" placeholder="Nombre y apellido" id="formulario-nombre"></input>
      <br>
      <input type="text" name="Nombre de usuario" placeholder="Nombre de usuario"
        id="formulario-nombre-de-usuario"></input>
      <br>
      <label for="fecha de nacimiento">Fecha de nacimiento</label>
      <input type="date" name="Fecha de nacimiento" id=""></input>
      <select name="pais" id="sexo">
        <option value="Colombia">Femenino</option>
        <option value="Argentina">Masculino</option>
      </select>
      <br>
      <input type="text" name="numero de documeto" placeholder="Numero de documento"
        id="formulario-numero-de-documento"></input>
      <input type="tel" name="Telefono" placeholder="Numero de telefono" id="formulario-numero-de-telefono"></input>
      <br>
      <label>Seleccionar una imagen para el perfil</label>
      <input type="file" name="avatar" accept="jpg" multiple>
      <br>
      <input type="text" name="email" placeholder="ingrese su correo electronico"
        id="formulario-correo-electronico"></input>
      <br>
      <input type="password" name="contraseña" placeholder="Contraseña" id=""></input>
      <br>
      <input type="password" name="confirmacion_contraseña" placeholder="Confirmar contraseña" id=""></input>
      <br>
      <label for="aceptacion terminos y condiciones">Acepta terminos y condiciones</label>
      <input type="checkbox" name="aceptacion terminos y condiciones" value="accept" id=""></input>

      <div>
        <button type="reset">Reset</button>
        <button type="submit">Crear cuenta</button>
      </div>



    </section>
  </main>
  <br>

  <footer>
    <div class="divsFooter">
      <strong>Daytona Cars</strong>
      <br>
      <a href="/nuestraEmpresa" class="direcciones"> Empresa</a>
      <br>
      <a href="/sucursales" class="direcciones">Sucursales</a>
    </div>
    <div class="divsFooter"><strong>Contactenos</strong>
      <br>
      <a href="/asesoramiento" class="direcciones">Asesoramiento</a>
      <br>
      <a href="/solicitudTestDrive" class="direcciones">Solicitud de Test Drive </a>
      <br>
    </div>
    <div class="divsFooter"> <strong>Redes Sociales </strong>
      <br>
      <a href="https://www.facebook.com" class="direcciones">Facebook</a>
      <br>
      <a href="https://www.instagram.com" class="direcciones">instagram</a>
      <br>
      <a href="https://www.twitter.com" class="direcciones">twitter</a>
    </div>

    </section>
    <br>
  </footer>
  <div class="piedefooter">
    <p class="holafooter">Copyright © 2000-2022 Daytona S.R.L.</p>
  </div>
</body>

</html>