<%-include("partials/head.ejs")%>
<body>
 <%-include("partials/header.ejs") %>
  <div class="banner2">

  </div>


  <main>
    <div class="main-registro">

    <section class="formulario-registro">
      <form action="/login" method="get"></form>
      <input class="input" type="text" name="Nombre" placeholder="Nombre y apellido" id="formulario-nombre"></input>

      <input class="input" type="text" name="Nombre de usuario" placeholder="Nombre de usuario"
        id="formulario-nombre-de-usuario"></input>

      <div class="input-container">
        <label for="fecha de nacimiento">Fecha de nacimiento</label>
        <input class="input" type="date" name="Fecha de nacimiento" id=""></input>
      </div>
      <select class="input" name="pais" id="sexo">
        <option value="Colombia">Femenino</option>
        <option value="Argentina">Masculino</option>
      </select>

      <input class="input" type="text" name="numero de documeto" placeholder="Numero de documento"
        id="formulario-numero-de-documento"></input>
      <input class="input" type="tel" name="Telefono" placeholder="Numero de telefono"
        id="formulario-numero-de-telefono"></input>

      <label>Seleccionar una imagen para el perfil</label>
      <input class="input" type="file" name="avatar" accept="jpg" multiple>

      <input class="input" type="text" name="email" placeholder="ingrese su correo electronico"
        id="formulario-correo-electronico"></input>

      <input class="input" type="password" name="contrase単a" placeholder="Contrase単a" id=""></input>

      <input class="input" type="password" name="confirmacion_contrase単a" placeholder="Confirmar contrase単a"
        id=""></input>

      <div class="checkbox-container">
        <input class="input" type="checkbox" name="aceptacion terminos y condiciones" value="accept" id=""></input>
        <label for="aceptacion terminos y condiciones">Acepta terminos y condiciones</label>
      </div>

      <div>
        <button class="button" type="reset">Reset</button>
        <button class="button" type="submit">Crear cuenta</button>
      </div>
    </section>
    </div>
  </main>


  <%-include("partials/footer.ejs") %>
</body>

</html>